.banner-promociones {
  margin: 10px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* todas las imágenes ocupan el ancho completo */
.banner-promociones img {
  display: block;
  width: 100%;
  height: auto;
}

/* para el efecto fade */
.slide {
  opacity: 0;
  transition: opacity 0.8s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* imagen visible */
.slide.active {
  opacity: 1;
  position: relative;
}
